body
{
    font-family:Helvetica,sans-serif;
    font-size: 13px;
    text-align : justify;
}

img
{
    height: 200px;
    width: auto;
    border-style:solid;
    border-width:medium;
    border-color: white;
    
    box-shadow: 5px 5px 5px #888;
}

.alignleft {
    float: left;
    margin-right: 10px;
}